body {
  font-family: "Roboto", sans-serif;
}
.header {
  border: 1px solid #696969;
  border-radius: 15px;
  text-align: center;
  width: 55%;
  margin: auto;
}
.input-form-section,
.results-section {
  width: 55%;
  margin: 16px auto;
}
.input-form-section {
  background-color: #f2f2f2;
  padding: 20px 10px;
  border-radius: 5px;
}
.input {
  width: 90%;
  border-radius: 4px;
  margin: 8px 0;
  padding: 12px 20px;
}
.submit {
  width: 100%;
  margin: 8px 0;
  padding: 14px 20px;
  border-radius: 4px;
  border: none;
  background-color: #33b2ff;
}
.submit:hover {
  background-color: #33e9ff;
  color: #f2f2f2;
  cursor: pointer;
}
.scores {
  width: 95%;
  margin: 0 auto;
}
.score {
  background: #fafafa;
  margin: 10px auto;
  position: relative;
}
.single-score {
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border-left: 4px solid green;
}
span {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
}
footer {
  border: 1px solid #696969;
  border-radius: 15px;
  text-align: center;
  width: 55%;
  margin: auto;
}
a {
  text-decoration: none;
}
