body,
html {
  margin: 0;
  background-color: #f8f8ff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-content: center;
}

h1 {
  width: fit-content;
  margin: auto;
}

.thought-container {
  width: 85%;
  border: 1px solid black;
  margin: 16px auto;
  padding: 16px;
}
