<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>My Awesome Flask App!</title>
  </head>
  <body>
    <header class="header">
      <h1 class="title">Check Yourself</h1>
    </header>

    <section class="input-form-section">
      <form action=" {{url_for('get_data_from_form')}} " method="post">
        <textarea
          name="input"
          id="input"
          class="input"
          cols="30"
          rows="10"
          placeholder="Type here to check your text..."
        ></textarea>
        <input type="submit" class="submit" value="Submit" />
      </form>
    </section>

    <p>{{comment_to_rate}}</p>

    <section class="results-section">
      <h4>Toxicity Rating: {{result}}</h4>
      <div class="progress-background">
        <div class="progress"></div>
      </div>
    </section>

    <footer>
      <h4>
        &copy; 2022 Holger Mueller |
        <a href="https://github.com/Holgermueller/flaskapp">Repo</a>
        |
        <a href="https://github.com/Holgermueller" target="_blank"
          ><i class="fa fa-github"></i
        ></a>
      </h4>
    </footer>
  </body>
</html>
